.judul-tengah {
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.padding {
    padding: 5%;
}

.sub {
    font-size: 15px;
}

.box-shadow {
    background-color: #ffffff;
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 15px;
    padding: 50px;
    width: 600px;
    height: 500px;
    margin: auto;
}

.isi-kontak {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.kiri {
    padding: 50px;
}

.information {
    display: flex;
    color: #555;
    margin: 1rem 0;
    align-items: center;
    font-size: 0.95rem;
  }

  .infoDetail {
    padding-left: 10px;
  }

  .grud {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

.media-social {
    padding: 2rem 0 0 0;
}

.social-icon {
    display: flex;
    margin-top: 0.5rem;
}